@import "tailwindcss";

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: radial-gradient(oklch(23.1% 0 0), oklch(14.5% 0 0));
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-sky-50);
}
